<html>
<head><title>Self Monitoring</title></head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>

<form action="#" method="post" th:action="@{/saveExams}" th:object="${exam}">
    <table border="1">
        <tr>
            <td><label th:text="#{exam.name}"/></td>
            <td><input th:field="*{name}" type="text"/></td>
        </tr>
        <tr>
            <td><label th:text="#{exam.date}"/></td>
            <td><input th:field="*{date}" type="date"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>

<h4>Click <a th:href="@{/exam}">here</a>.</h4>
</body>
</html>